.mobile-steering {
    display: none;
    width: 100%;
}

.steering-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 720px;
    margin: 0 10px 10px 10px;
}

.left-controls .steering {
    display: grid;
    grid-template-columns: 36px 36px 36px;
    grid-template-rows: 36px 36px 36px;
    gap: 1px;
    place-items: center;
}

.left-controls .steering img[data-action="UP"] {
    grid-column: 2;
    grid-row: 1;
}

.left-controls .steering img[data-action="LEFT"] {
    grid-column: 1;
    grid-row: 2;
}

.left-controls .steering img[data-action="RIGHT"] {
    grid-column: 3;
    grid-row: 2;
}

.left-controls .steering img[data-action="DOWN"] {
    grid-column: 2;
    grid-row: 3;
}


.right-controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.steering {
    display: flex;
    gap: 10px;
}

.steering-bar img {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.mobile-steering.hidden {
    display: none !important;
}

#gameOverOverlay:not(.hidden)~.mobile-steering {
    display: none !important;
}

#winOverlay:not(.hidden)~.mobile-steering {
    display: none !important;
}

.key-button {
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Luckiest Guy', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50px;
}

.mobile-arrows-img {
    height: 30px;
    width: 30px;
    background-color: #7FFFE0;
    border: 3px solid white;
    border-radius: 10px;
}

.mobile-caution {
    color: red;
    font-size: 16px;
    font-weight: 100;
}

.mobile-btn-back {
    color: #531A82;
    margin-top: clamp(6px, 2vw, 20px);
    padding: 6px 18px;
    font-family: 'luckiestGuy', Calibri;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #7FFFE0;
    border: 3px solid white;
    border-radius: 8px;
}

